<h1>Result</h1>
<div style="display: flex;">
    <% if @score %>
    <h2><strong>Congratutations!</strong> <%= @attempt.upcase %> is a valid english word!</h2>
    <% elsif @not_valid %>
    <h2>Sorry but <strong><%= @attempt.upcase %></strong> does not seem to be a valid English Word!</h2>
    <% else %>
    <h2>Sorry but <strong><%= @attempt.upcase %></strong> can´t be built out of <%= @grid %></h2>
    <% end %>
</div>
<a href="new">PLAY AGAIN!!!</a>